logs/
bin/
libs/
*.hprof
*.zip
*.nupkg
.gradle/*
.logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/*
!.idea/runConfigurations/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Java ###
*.jar
*.class
out/
!libs/**
*.log
.DS_Store
